body {
	width: 100%;
	height: 100%;
	background: url('../images/bg.png');
}

body {
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #eee;
}

body.dashboard {
	background: none;
	background-color: #222;
}

body.dashboard .error_holder {
	position: absolute;
	padding-left: 225px;
	float: left;
}
body.dashboard .error_holder .errors{
	margin-left: 20px;
}
body.dashboard .error_holder li {
	float: left;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 100%;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}
ul.errors {
	text-align: center;
	color: red;
	max-width: 330px;
	margin: 0 auto;
	padding: 15px;
	border-radius: 5px;
	background: #fff;
	list-style-type: none;
}

/*debug styles*/
.xdebug-var-dump {
	/* position: absolute; */
	z-index: 100000;
}